
/* Effects */
.glow {
    font-weight: bold;
    text-align: center;
    color: #fff; /* Text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;

}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #000, 0 0 20px #000;
    }

    100% {
        text-shadow: 0 0 10px #808080, 0 0 20px #fff;
    }
}


/* Specific for Playground */
#playground-h1 {
    width: 92%;
    font-family: "Silkscreen", sans-serif;
    font-size: 5rem;
    text-align: center;
}

#playground-header {
    text-align: center;
}
